.products-container {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: end;
  gap: 2rem;
}

.products-create-button {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 13rem;
  height: 2rem;
  background-color: #b29079;
  color: white;
  font-size: 1rem;
  font-weight: bold;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.products-create-button:hover {
  background-color: #523a12;
}
