@font-face {
  font-family: "Gotham Book";
  src: url("/fonts/gotham-book.woff") format("woff");
}

@font-face {
  font-family: "Gotham Light";
  src: url("/fonts/gotham-light.woff") format("woff");
}

@font-face {
  font-family: "Julius Sans One";
  src: url("/fonts/julius-sans-one-regular.woff") format("woff");
}

:root {
  --font-title: "Julius Sans One", sans-serif;
  --font-primary: "Gotham Book", sans-serif;
  --font-secondary: "Gotham Light", sans-serif;
  --color-primary: #754b2f;
  --color-secondary: #bc967f;
  --color-tertiary: #b7b7b7;
  --color-neutral: #fff;
  --color-border: rgba(117, 75, 47, 0.5);
  --color-border-secondary: #d3d3d3;
  --color-box: rgba(117, 75, 47, 0.1);
}

html,
body,
#root {
  margin: 0;
  padding: 0;
  width: 100%;
  background-color: var(--color-neutral);
  font-optical-sizing: auto;
  user-select: none;
  overflow-x: hidden;
  box-sizing: border-box;
}

.button-primary,
.button-secondary,
.button-link {
  display: flex;
  -webkit-tap-highlight-color: transparent;
  cursor: pointer;
  outline: none;
  transition: background-color 0.3s ease, color 0.3s ease, border 0.3s ease;
  font-family: var(--font-title);
  align-items: center;
  justify-content: center;
}

.button-primary {
  background: none;
  border: 1px solid var(--color-primary);
  width: 256px;
  height: 54px;
  padding: 1rem;
  text-align: center;
  color: var(--color-primary);
  font-size: medium;
}

.button-primary:hover {
  background-color: var(--color-secondary);
  border: 1px solid var(--color-secondary);
  color: var(--color-neutral);
}

.button-secondary {
  background: none;
  border: 1px solid white;
  color: white;
  width: 256px;
  height: 54px;
  padding: 1rem;
  text-align: center;
  font-size: medium;
}

.button-secondary:hover {
  border: 1px solid var(--color-primary);
  background-color: var(--color-secondary);
}

.button-link {
  background: none;
  border: none;
}

canvas {
  height: 35vh;
  touch-action: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--font-title);
  color: var(--color-primary);
  font-weight: normal;
}

p,
span{
  font-family: var(--font-secondary);
  color: var(--color-primary);
  font-weight: normal;
}

textarea {
  width: calc(100% - 1rem) !important;
  height: 4rem !important;
  padding: 0.5rem;
  border: 1px solid var(--color-border);
  font-family: var(--font-secondary);
  color: var(--color-primary);
  resize: none;
}

input {
  padding: 0.5rem;
  border: 1px solid var(--color-border);
  font-family: var(--font-secondary);
  color: var(--color-primary);
}

label {
  font-family: var(--font-secondary);
  font-weight: bold;
  color: var(--color-primary);
}

form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-self: start;
}

input::placeholder,
textarea::placeholder {
  font-family: var(--font-secondary);
  color: var(--color-primary);
}

.link {
  font-family: var(--font-secondary);
  color: var(--color-primary);
  text-decoration: none;
  transition: color 0.3s ease;
  cursor: pointer;
}

.link:hover {
  color: var(--color-secondary);
}

.custom-select {
  position: relative;
  font-family: var(--font-secondary);
  color: var(--color-primary);
  padding: 0.5rem;
  border: 1px solid var(--color-border);
  cursor: pointer;
}

.select-header {
  background-color: #fff;
  border: none;
  color: var(--color-primary);
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.select-header .arrow {
  width: 24px;
  height: 24px;
  background-image: url("/icons/arrow.svg");
  background-size: cover;
}

.select-options {
  list-style: none;
  margin: 0;
  padding: 0;
  position: absolute;
  width: 100%;
  background-color: #fff;
  border: none;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.1);
  z-index: 3;
}

.select-option {
  padding: 10px;
  color: var(--color-primary);
}

.select-option:hover {
  background-color: var(--color-secondary);
  color: #fff;
}

.list {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  list-style: circle;
  color: var(--color-primary);
  gap: 0.5rem;
  padding: 0 2rem;
}

.transition-scale {
  transition: transform 0.3s ease;
}

.transition-scale:hover {
  transform: scale(1.1);
}

.bag-icon {
  width: 20px;
  height: 20px;
}

input[type="checkbox"] {
  -webkit-appearance: none;
  appearance: none;
  width: 16px;
  height: 16px;
  border: 1px solid var(--color-border);
  border-radius: 8px;
  background-color: var(--color-neutral);
  cursor: pointer;
  transition: background-color 0.3s ease, border 0.3s ease;
}


input[type="checkbox"]:checked {
  background-color: var(--color-secondary);
  background-image: url("/icons/check.svg");
  background-size: 8px;
  background-position: center;
  background-repeat: no-repeat;
}

input[type="checkbox"]:hover {
  border-color: var(--color-secondary);
}

@media (max-width: 768px) {
  canvas {
    height: 25vh;
    touch-action: none;
  }

  h1 {
    font-size: x-large;
  }

  .button-primary,
  .button-secondary {
    width: 75%;
  }

  .list {
    text-align: start;
    padding: 0 1rem;
    width: 70vw;
  }
}