/* Layout container */
.inventory-container {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-end;
  gap: 2rem;
  padding: 1rem;
}

/* List of products */
.inventory-list {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
  gap: 1rem;
}


/* Individual product */
.inventory-item {
  display: flex;
  padding: 1rem;
  border: 1px solid var(--color-tertiary);
  background-color: var(--color-background, #fff);
}
.inventory-item-title {
  font-size: 1.2rem;
}

.inventory-item-title, .inventory-item-label {
  font-weight: bold;
}

/* Product image */
.inventory-item-image {
  width: 96px;
  object-fit: cover;
  margin-right: 1rem;
}

.inventory-item-info {
  flex: 1;
  margin-top: auto;
}

.inventory-item-info-details {
  line-height: 0.5rem;
}

.inventory-item-actions {
  display: flex;
  flex-direction: row;
  gap: 0.5rem;
  margin-left: auto;
}

/* Responsive adjustments */
@media (max-width: 768px) {
  .inventory-container {
    align-items: center;
  }

  .inventory-item {
    flex-direction: column;
    align-items: center;
    text-align: center;
  }

  .inventory-item-image {
    margin-right: 0;
    margin-bottom: 0.5rem;
  }

  .inventory-item-actions {
    margin-left: 0;
    margin-top: 0.5rem;
    justify-content: center;
  }
}

